/* Navbar */
header nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  nav a,
  nav button {
    margin-left: 10px;
    color: #1aac83; /* Green color for links and buttons */
  }
  
  nav button {
    background: #1c1c1c; /* Dark button background (Black) */
    color: var(--primary); /* Primary color text (Blue) */
    border: 2px solid var(--primary); /* Primary border (Blue) */
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Helvetica", sans-serif;
    cursor: pointer;
    font-size: 1em;
  }